._footer {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #f8faff !important;
    position: relative;
    margin-top: 1.5rem;
}
.row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    align-items: flex-start;
}
.row.center{
    justify-content: center;
    padding-top: 3rem;
}
.row.center .col span{
    font-size: 12.8px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
}
.row.center .col p{
    font-size: 12px;
    color: #a7a2ce;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
._footer .container{
    display: flex;
    flex-direction: column;
}
._footer h2{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
._footer p{
    margin: .25rem 0;
    font-size: 16px;
    font-weight: 400;
    color: #636c72;
}
._footer p:hover{
    color: #F9A03A;
}
._footer h3{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .5rem;
    margin: 0;
}
._footer .action_btn.primary{
    border: 0;
}
._footer .action_btn{
    font-size: 14px;
    padding: .5rem 1rem;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
@media(max-width:999px){
    .row{
        flex-direction: column;
        align-items: center;
    }
    ._footer .action_btn.primary{
        margin-bottom: 2rem;
    }
    ._footer .action_btn.inverted{
        margin-top: 2rem;
    }
    ._footer h2{
        margin: .75rem 0;
    }
    .container{
        width: 100%;
        padding: 0;
    }
}